FIREBASE_PROJECT_ID=panelcentralweb
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@panelcentralweb.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCbRNZCin+kaAy4...
CORS_ALLOWED_ORIGIN=https://santiagorf.netlify.app
